<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WEB应用控制MQTT设备</title>
    <meta name="keywords" content="demo">
    <meta name="description" content="WEB应用控制MQTT设备">
    <meta http-equiv="X-Frame-Options" content="sameorigin">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script src="/static/css/commoncss.js"></script>
    <link href="/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/hplus/css/plugins/switchery/switchery.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>OneNet平台连接信息</h5> <span class="label label-primary">MQTT</span>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="index.html#">选项1</a>
                                </li>
                                <li><a href="index.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div class="pull-right text-right">studio-mqtt.heclouds.com
                                <br/>
                                <small class="font-bold">1883</small>
                            </div>
                            <h4>设备连接（非加密）
                                <br/>
                                <small class="m-r"><a href="https://open.iot.10086.cn/doc/v5/develop/detail/638"> 官方文档</a> </small>
                            </h4>
                        </div>
                        <div>
                            <div class="pull-right text-right">183.230.102.116
                                <br/>
                                <small class="font-bold">25002</small>
                            </div>
                            <h4>应用连接（非加密）
                                <br/>
                                <small class="m-r"><a href="https://open.iot.10086.cn/doc/v5/develop/detail/810"> 官方文档</a> </small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>最新动态</h5>
                        <div class="ibox-tools"><input type="checkbox" class="js-switch" checked id="check_sse"/>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="index.html#">选项1</a>
                                </li>
                                <li><a href="index.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group" id="msg_from_server">
                            <li class="list-group-item">
                                <p><a class="text-info" href="index.html#">#感谢有你#</a> 感谢你们一路的相伴，未来也请让我为你们撑腰，我们会更好</p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/hplus/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="/hplus/js/content.js?v=1.0.0"></script>

    <!-- iCheck -->
    <script src="/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Toastr script -->
    <script src="/hplus/js/plugins/toastr/toastr.min.js"></script>
    <!-- Switchery -->
    <script src="/hplus/js/plugins/switchery/switchery.js"></script>
    <script>
        var source;
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, {
                size:'small',
                color: '#1AB394'
            });
            openConnection();
            elem.onchange = function() {
                if(elem.checked){
                    openConnection();
                } else {
                    closeConnection();
                }
            };
        });
        function  openConnection() {
            if (typeof(EventSource)!=="undefined") {
                source = new EventSource('/push');
                var s = document.getElementById("msg_from_server").innerHTML;
                var pre ='<li class="list-group-item"><p>';
                var aft ='</p><small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small></li>\n';
                source.addEventListener('message', function (e) {
                    s += pre + e.data + aft;
                    document.getElementById("msg_from_server").innerHTML = s;
                });
                toastr.success("已打开服务器推送");
            } else {
                nosse();
            }
        }

        function closeConnection(){
            source.close();
            toastr.success("已关闭服务器推送");
        }
       function nosse() {
            toastr.error("抱歉，浏览器不支持SSE，已关闭自动刷新。");
        }
    </script>

</body>

</html>
